langchain-openai
langchain
langchain-community
python-dotenv
langchain_core
streamlit
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface-hub